
    <nav>
        <div class="site-title">
            <a href="/"><h1>Eğitimlerimiz</h1></a>
        </div>
        <ul>
            <li><a href="/">Dersler</a></li>
            <li><a href="/hakkimda">Hakkımda</a></li>
            <li><a href="/ders/ekle">Ders Ekle</a></li>
        </ul>
    </nav>