<!DOCTYPE html>
<html lang="en">
    <%- include("./partition/head.ejs")  %> 

<body>
    <%- include("./partition/nav.ejs")  %> 

    <div class="ders-ekle content">
        <h2>Ders ekle</h2>
        <form>
            <label for="">Başlık</label>
            <input id="baslik" type="text">
            <label for="">İçerik</label>
            <input id="icerik" type="text">
            <button>Kaydet</button>
        </form>
    </div>
</body>
</html>