<!DOCTYPE html>
<html lang="en">

    <%- include("./partition/head.ejs")  %> 

<body>

    <%- include("./partition/nav.ejs")  %> 

    
    <div class="dersler content">
        <h2><%=hakkimda%></h2>
        <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi ipsa eum quam aliquid! Eaque beatae amet earum totam iusto minima maiores alias esse ad facere, voluptate libero enim itaque velit?</h2>
    </div>
</body>
</html>