<%- include("partials/header.ejs") %> 

   <ul class="works">
       <% if(isler.length){ %>

        <% isler.forEach(is => { %>
         
            <li class="work">
                <img src="/work.png" />
                <h4> <%= is.baslik %> </h4>
                <p><%= is.baslik %></p>
            </li>
            <% }) %>
        <% }else{ %> 
            <h2>Yapılacak iş bulunmadı</h2>
            <%}%>
    </ul>

<%- include("partials/footer.ejs") %>