.not{
  border:2px solid black;
  width:250px;
  height:250px;
  background-color: #22f32a;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.app{
  min-height:100vh;
  background-color: #fff;
  justify-content: space-around;
  align-items: center;
  display: flex;
  background: rgb(108, 60, 170);
  flex-direction: column;
}

.bardak0{
  color:#fff;
  font-size:40px;
}
.bardak1{
  color:#00a;
  font-size:40px;
}
.bardak2{
  color:#0a1;
  font-size:40px;
}
.bardak3{
  color:#a11;
  font-size:40px;
}