.not{
  border:2px solid black;
  width:250px;
  height:250px;
  background-color: #22f32a;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.app{
  min-height:100vh;
  background-color: #fff;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
}